.header {
    background-color: #FFFFFF;
}

.header__inner {
    position: relative;
    margin: 0 auto;
    width: 1512px;
    height: 100px;
    border-bottom: 1px solid #E0DFDE;
}

.header__logo {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    margin: 0 auto;
    color: #8B7969;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

.login-form {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 90%;
    top: 50%;
    width: 100px;
    border: 1px solid #D9C6B5;
    background-color: rgba(240, 240, 240, 0.6);
}

.header-nav__button {
    width: 100%;
    border: none;
    color: #D9C6B5;
    font-family: 'Inika';
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.register-form__content {
    margin: 0 auto;
    width: 1512px;
    height: 882px;
    background-color: #F1ECE7;
}

.register-form__heading h2 {
    margin: 0 auto;
    padding: 60px 0px;
    color: #8B7969;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 35px;
    text-align: center;
}

.register-form {
    margin: 0 auto;
    padding: 60px 150px;
    padding-top: 75px;
    width: 50%;
    border: 1px solid #C5B9B0;
    border-radius: 10px;
    background-color: #FFFFFF;
    text-align: center;
}

.register-form__group {
    margin: 0px auto;
}

.register-form__group-title {
    margin: 0px auto;
    margin-bottom: 15px;
    text-align: left;
}

.register-form__label--item {
    color: #8B7969;
    font-family: 'Inika';
    font-size: 25px;
    line-height: 30px;
}

.register-form__group-content {
    text-align: left;
    margin-bottom: 25px;
}

.register-form__input--text input {
    padding: 20px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #F4F4F4;
    color: #BEB1A6;
    font-family: 'Inika';
    font-size: 14px;
    appearance: none;
}

.register-form__error {
    height: 20px;
    color: #FF9494;
    font-family: 'Inika';
    text-align: left;
}

.register-form__button {
    margin-top: 40px;
}

.register-form__button-submit {
    padding: 8px 40px;
    border: none;
    border-radius: 3px;
    background-color: #82756A;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
}